{% extends "base.html" %}

{% block css %}
    <!-- Dev css. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/dev.css') }}" />
{% endblock %}

{% block content %}

<h1 id="logo"><a href="{{ url_for('browse') }}">exquisitehaiku</a></h1>

{% block nav %}
<nav>
    <ul>
        <li><a href="{{ url_for('new') }}">New Poem</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</nav>
{% endblock %}

{% block admin %}
{% endblock %}

{% endblock %}
