{% extends "admin/admin.html" %}
{% block title %}Browse{% endblock %}

{% block admin %}

    <table>
        {% for h in haiku %}
        <tr>
            <td><a href="/{{ h.url_slug }}">/{{ h.url_slug }}</a></td>
            {% if not sched.checkForSlicer(h) %}
            <td><a href="{{ url_for('start', id=h.id) }}">start</a></td>
            {% else %}
            <td><a href="{{ url_for('stop', id=h.id) }}">stop</a></td>
            {% endif %}
            <td><a href="{{ url_for('delete', id=h.id) }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
